<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="intial.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Poppins:wght@400;500;600;700;900&display=swap" rel="stylesheet">
    <title>Homepage</title>
</head>
<body>
    <header id="header">
        <ul>
            <li class="header-left">
                <em class="logo"><img src="logo.png" alt="Not found"></em>
                <a href="" class="text-logo">
                    <em class="text-logo-1">DHL</em>
                    <em class="text-logo-2">LOCATION</em>
                    <em class="text-logo-3">TRACKER</em>
                </a>
            </li>
            <li class="header-right">
                <a href="" class="nav-btn">CONTACT US</a>
            </li>
        </ul>
        <div class="phone-tablet">
            <a href="" class="pandt"><i class="fa-solid fa-box-open"></i></i></a>
            <a href="" class="pandt"><i class="fa-solid fa-bars"></i></a>
        </div>
    </header>

    <div class="body">
        <div class="content-1">Hello, your relative's position doesn't show on our WebSite</div>
        <div class="content-2">Please click here to know!</div>
        <div class="click">CLICK HERE</div>
    </div>
</body>
</html>